<!DOCTYPE html>

<title>Agents index</title>

{% block body %}
    <h1>Agents index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>CodeName</th>
                <th>Skills</th>
                <th>DateOfBirth</th>
                <th>Nationality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.id }}</td>
                <td>{{ agent.lastName }}</td>
                <td>{{ agent.firstName }}</td>
                <td>{{ agent.codeName }}</td>
                <td>{{ agent.skills ? agent.skills|join(', ') : '' }}</td>
                <td>{{ agent.dateOfBirth ? agent.dateOfBirth|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ agent.nationality }}</td>
                <td>
                    <a href="{{ path('agents_show', {'id': agent.id}) }}">show</a>
                    <a href="{{ path('agents_edit', {'id': agent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agents_new') }}">Create new</a>
{% endblock %}
